@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
.update-books-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    font-family: "Poppins", sans-serif;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-btn:hover {
    background-color: #0056b3;
  }
  
  .error-msg {
    color: red;
    margin-top: 10px;
  }
  
  .link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  