@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.about-section {
    background-color: white;
    padding: 40px;
    text-align: center;
  }
  
  .about-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .fancy1 {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-image: 
        url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      padding: 0 100px;
      font-size: 50px;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
  
    }
  }
  
  .about-content p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
  }
  
  
  @media only screen and (max-width: 600px) {
    .about-content {
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 600px) {
    .fancy1 {
      font-size: 50px; 
    }
  }
  

  @media screen and (min-width: 601px) and (max-width: 900px) {
    .fancy1 {
      font-size: 54px; 
    }
  }
  

  @media screen and (min-width: 901px) {
    .fancy1 {
      font-size: 60px; 
    }
  }
  